@import "tailwindcss";

:root {
  --yuki-pink: rgb(255, 54, 125);
  --yuki-cyan: rgb(54, 176, 254);
  --yuki-dark-pink: rgb(79, 22, 42);
}

@theme inline {
  --color-yuki-pink: var(--yuki-pink);
  --color-yuki-cyan: var(--yuki-cyan);
  --color-yuki-dark-pink: var(--yuki-dark-pink);
}

html {
  @apply min-h-screen bg-cover bg-center bg-fixed;
  background-image: url("/background.png");
}